body{
  margin:0px
}

      /* Estilo para el contenedor principal */
      .main-container {
          width: 100%;
         
          /* Margen igual al ancho del sidebar */
          padding: 20px;
          background: #F3F3F9;
          color: white;
          margin-left: 220px !important;
          margin-right: 0px;
      }

      .container-fluid {
          margin-top: 56px;
          margin-left: 220px;
         /*  max-width: calc(100% - 250px); */
          /* Resta el ancho del sidebar */
      }
     
      @media (max-width: 767.98px) {
      .container-fluid {
          display: flex;
          flex-direction: column; /* Apila los elementos verticalmente */
      }

      /* Aplica margen izquierdo de 0px al main-container */
      .navbar{
        
          margin-left: 0px !important;
      }
      .container-fluid {
          margin-left: 0px !important;
      }
  }



