.Sidebar{
    color: green;
    border: red solid 2px  ;
    height: 100vh;
    position: fixed;
}


.col-custom{
    flex: 0 0 15%;
    width: 250px !important;
    min-width: 200px;
    /* position: fixed; */
    overflow-y: auto;
} 

.conte{
    border: green solid 2px;
    height: 100vh ;
}

.container-with-sidebar{
    background-color: #555;
    margin-left: 250px !important;
}

/* Estilos para el scrollbar en navegadores webkit (como Chrome y Safari) */
.col-custom::-webkit-scrollbar {
    width: 5px; /* Ancho del scrollbar vertical */
}

.col-custom::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de fondo del track */
}

.col-custom::-webkit-scrollbar-thumb {
    background: #888; /* Color del thumb (la parte arrastrable) */
    border-radius: 5px; /* Bordes redondeados para el thumb */
}

.col-custom::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color del thumb en hover */
}

.container-fluid-chart{
    margin-left: 100px;
    background-color: grey;
    border: green solid 2px;
  }

  .container-fluid{
    background: gray;
    margin-left: 100px !important;
    width: 100%;
  }

  .app{
    width: 100%;
  }